/* --- General Properties --- */

* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif
}

a {
    color: #777777;
    text-decoration: none;
}

body {
    background-image: url(../images/background_shattered.png);
    background-repeat: repeat;
    margin: 0;
}

input {
    padding: 10px;
    width: 97.5%; 
    font-size: 11pt;
}

textarea {
    padding: 10px;
    margin: 0 auto;
    vertical-align: top;
    height: 150px;
    border-color: #cecdcd;
    width: 97.5%; 
    font-size: 11pt;
}

button {
    background: #4aaaa5;
    text-align: center;
    color: white;
    border: none;
    padding: 8px 25px;
    margin: 20px 0px;
    font-size: 12pt;
}

.header {
    background-color: #ffffff;
    height: 80px;
    width: full;
    border-bottom: solid 2px;
    border-color: #bababa;
    margin-bottom: 30px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    background-color: #666666;
    width: 100%;
    text-align: center;
    font-size: small;
    border-top: solid 5px;
    border-color: #4aaaa5;
    z-index: 3;
}

h1 {
    color: white;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    font-size: 18;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid 2px;
    border-color: #bababa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h4 {
    background-color: #4aaaa5;
    color: white;
    height: 40px;
    width: 200px;
    padding-top: 10px;
    text-align: center; 
}

p {
    color: #777777;
}

/* --- Section Properties --- */

#namePlate {
    background-color: #4aaaa5;
    /* background-color: #1ea4fd; (color I may want to use later)*/
    color: white;
    height: 80px;
    width: 240px;
    text-align: center;
    float: left;
    margin-left: 14.5%;
}

#menu {
    text-align: right;
    font-size: large;
    max-width: 960px;
    margin: auto;
    color: #777777;
}

#contentArea {
    max-width: 960px;
    margin: auto;
    max-height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border: solid 1px;
    border-color: #bababa;
    line-height: 1.8;
    font-size: large;
    color: #777777;
    margin-bottom: 100px;
}

#profileImage {
    float: left;
    padding-right: 30px;
}

/* --- image grid --- */

.left {
    float: left; 
    position: relative; /* combined with absolute position of #portfolioImage in order to anchor headers */
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

.right {
    float: left; 
    position: relative;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolioImage {
    position: absolute; /* Used divs with class = img(#) to combine absolute and relative positions */
    left: 0px;
    bottom: 0px;
    z-index: 2;
}